@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



.container {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

.background-cart{
    display: contents;
    background-color: #555;
    border: solid 100px black;
}

.background-product{
    background-color: #f8f7f7;
    padding: 15px;
}

.cart-header div:first-child{
    margin-left: 30px;
}

.cart-header div:nth-child(2){
    margin-left: 20px;
}

.cart-header div:nth-child(3){
    margin-left: -10px;
}

.shopping-cart {
    width: 80%;
    background-color: #fff;
    padding: 20px;
}

.shopping-cart h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}

.No-product:first-child{
    margin-bottom: 60px;
}

.cart-header{
    background-color: white;
    border: solid 1px rgb(220, 214, 214);
    margin-bottom: 15px;
}

.cart-header, .cart-item {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-header {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.cart-item {
    grid-template-columns: 4fr 2fr 1fr 1fr;
    border: solid 1px rgb(196, 195, 195);
    padding: 10px;
    background-color: white;
}

.cart-item img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.product-info img{
    height: 105px;
    width: 110px;
}

.product-info p {
    margin: 0;
}

.cart-item:hover{
    background-color: aliceblue;
}

.cart-item .price {
    color: rgb(18, 201, 18);
    font-weight: bold;
}

.cart-item .quantity {
    text-align: center;
    margin-right: 50px;
}

.cart-item .delete {
    text-align: center;
}

.cart-item .delete button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 40px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.cart-item .delete button:hover {
    background-color: #e60000;
}

.shipping-fee {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    border: solid 1px rgb(196, 195, 195);
    background-color: white;
    margin-bottom: 15px;
    margin-top: 2px;
}

.icon{
    color: rgb(23, 186, 132);
    font-size: 30px;
    margin-top: -10px;
    padding-right: 10px;
}