body {  
    background-color: #ffffff;
    background-image: url(images/image.jpg);
    background-size: cover;
    background-position-y: -120px;
}
.register-box {
    margin-top: 50px;
    background: #E9F1F8;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    width: 1000px;
    height: 610px;
}
.register-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 30px;
    font-weight: bold;
    color: #84888B;
}
.register-line{
  margin-top: 20px;
  height: 2px;
  background-color: #84888B;
  width: 100%;
}
.register-form {
    margin-top: 1px;
    text-align: left;
}
input[type=email] {
    background-color: #E9F1F8;
    border: none;
    border-bottom: 2px solid #84888B;
    border-top: 0px;
    border-radius: 0px;
    outline: 00;
    margin-bottom: 15px;
    padding-left: 0px;
    color: #7E8285;
}
input[type=password] {
    background-color: #E9F1F8;
    border: none;
    border-bottom: 2px solid #84888B;
    border-radius: 0px;
    margin-bottom: 15px;
    padding-left: 0px;
    color: #7E8285;
  }
input[type=fullname]{
  background-color: #E9F1F8;
  border: none;
  border-bottom: 2px solid #84888B;
  border-radius: 0px;
  margin-bottom: 15px;
  padding-left: 0px;
  color: #7E8285;
}
input[type=date]{
  background-color: #E9F1F8;
  border: none;
  border-bottom: 2px solid #84888B;
  border-radius: 0px;
  margin-bottom: 15px;
  padding-left: 0px;
  color: #7E8285;
}
input[type=address]{
  background-color: #E9F1F8;
  border: none;
  border-bottom: 2px solid #84888B;
  border-radius: 0px;
  margin-bottom: 15px;
  padding-left: 0px;
  color: #7E8285;}
.form-group {
margin: 70px;
}
.form-control:focus {
    box-shadow: none;
    background-color: #E9F1F8;
    color: #090909;
}
.form-control-label {
    font-size: 15px;
    color: #6C6C6C;
    letter-spacing: 1px;
}
.btn-outline-primary {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  border-color:#070707;
  color:#0d0d0e;
  margin-top: 10px;
}
.btn-outline-primary:hover{
  background-color: #2891be;  
  color: #ffffff;
}
